* {
  box-sizing: border-box;
}

.calcDiv {
  background-color: #ddd;
  border: 1px solid black;
  width: 30rem;
  height: 29rem;
  position: absolute;
  left: 40%;
  top: 15%;
}

.calcScreen {
  resize: none;
  width: 30rem;
  height: 4rem;
  line-height: 3rem;
  text-align: right;
  background-color: #2e3840;
  color: blanchedalmond;
  font-size: x-large;
  border: none;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
}

.flex-container > button {
  background-color: #ddd;
  width: 120px;
  margin: 0;
  text-align: center;
  line-height: 73px;
  font-size: 22px;
}

.zero {
  width: 240px !important;
}

.operators {
  background-color: chocolate !important;
}
